ipykernel==4.8.2
ipython==6.4.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterlab==0.32.1
jupyterlab-launcher==0.10.5
matplotlib==2.2.2
networkx==2.1
numpy==1.17.0
numpydoc==0.8.0
openpyxl==2.5.3
pandas==0.23.0
pandocfilters==1.4.2
rdflib==4.2.2
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.1.0
sparql-client==3.4
tables==3.4.3
tabulate==0.8.2
tqdm==4.28.1
typing==3.6.4
Wikidata==0.6.1
